.header
  &__bg
    background-color green
    border-bottom 1px solid hsla(0, 0, 0%, .4)

  &__layer
    //height 100px
    position fixed
    top 0
    left 0
    width 100vw
    z-index 1

  &__container
    align-items center
    justify-content space-between
    padding-bottom .5rem
    padding-top .5rem

    +mobile()
      padding .5rem 1.5rem

  &__logo-box
    align-items center
    display flex

  &__logo
    align-items center
    color white
    display flex
    font-family cursive
    font-size 2rem
    &:hover
      color brown

      svg path
        fill brown

    span
      padding 0 .5rem
      transform translateY(6px)

  &__logo svg

    margin-right .75rem
    width 60px

    +mobile()
      margin 0

    path
      fill white

  &__tagline
    color brown
    font-size 1.5rem
    font-weight 100
    padding 0 .5rem

    +mobile()
      display none

  &__social
    align-items center
    display flex

    +tablet()
      display none

  &__link
    color white
    fill white
    font-weight normal
    padding 0 .5rem

  &__icon
    fill white

    &.hamburger
      display none
      z-index 100

      +tablet()
        display inline-block

        .icon.icon--ei-navicon
          fill white
