.header
  &__bg
    background-color green
    border-bottom 1px solid hsla(0, 0, 0%, .4)

  &__layer
    //height 100px
    position absolute
    top 0
    left 0
    width 100vw
    z-index 1

  &__container
    align-items center
    justify-content space-between
    padding .5rem 0

  &__logo-box
    align-items center
    display flex

  &__logo
    align-items center
    color brown
    display flex
    font-family cursive
    font-size 2rem

    span
      padding 0 .5rem

  &__logo svg

    margin-right .75rem
    width 60px

    path
      fill brown

  &__tagline
    color brown
    font-size 1.5rem
      font-weight 100
    padding 0 .5rem

  &__social
    align-items center
    display flex

  &__link
    color white
    fill white
    font-weight 100
    padding 0 .5rem

  &__icon
    fill white
