[class*="__button"]
  border 3px solid trans
  border-radius 5px
  box-shadow -1px 1px 0 black
  padding .5rem 1rem
  text-shadow 1px 1px 0 black

  &:hover
    border 3px solid currentColor
    background-color white
    color currentColor
