[class*="__button"],
[class*="__button"]:focus,
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit]
  border 3px solid trans
  border-radius 5px
  box-shadow -1px 1px 0 black
  padding .5rem 1rem
  text-shadow 1px 1px 0 black

  &:hover
    border 3px solid currentColor
    background-color white
    color currentColor

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit]
  background-color green

  &:hover
    border 3px solid currentColor
    background-color white
    color currentColor


a.donateBtn
  //background-color gold
  //color darkGreen

  &:hover
    //background-color darkGreen
    text-decoration underline
