// let's use hsla for all colors

green = hsla(88, 41%, 42%, 1)
brown = hsla(23, 49%, 15%, 1)
maroon = hsla(353, 61%, 18%, 1)
grey = hsla(0, 0%, 50%, 1)
magenta = hsla(313, 100%, 56%, 1)
featureCover = hsl(0, 0%, 20%, 1)
trans = transparent


.brownBg
  background-color brown

.greenBg
  background-color green

a.goldBg
  background-color #fc6
  color brown
