[class*="__container"]
  display flex
  margin 0 auto
  padding 0 1.5rem
  max-width 1200px

  +tablet()
    // background-color yellow
    max-width 955px

  +mobile()
    // background-color orange
