[class*="__container"]
  display flex
  margin 0 auto
  padding 0 1.5rem
  max-width 1200px

  +below(950px)
    // background-color yellow
    max-width 955px

  +below(600px)
    // background-color orange
