*
  box-sizing: border-box
  margin 0
  padding 0

  &::after,
  &::before
    box-sizing: border-box

:root
  font-size: 20px

body
  position relative

  +tablet()
    // background-color green

  +mobile()
    // background-color red
