.gallery
  &__layer
    display flex
    flex-flow row wrap
    width 100%

    +below(660px)
      flex-direction column
      //flex-flow nowrap
      align-items center
      justify-content center

  &__item
    color white
    display flex
    height 300px
    width calc(50% - 2rem)
    margin 1rem

    +below(660px)
      width 80%

  &__heading
    // color indigo
    font-size 4rem

    +below(660px)
      font-size 2.5rem

  &__button
    background-size cover
    //background-blend-mode overlay
    background-position center center
    background-repeat no-repeat
    border 10px solid white
    box-shadow none
    border-radius 0
    color green
    display flex
    align-items flex-end
    justify-content center
    height 100%
    width 100%
    will-change transform
    transition transform .3s ease-in-out
    position relative

    span
      background-color white
      color green
      display block
      padding .5rem 1rem

      position absolute
      bottom -20px
      left -20px

    &:hover
      border 10px solid white
      cursor pointer
      transform scale(1.05)

      span
        background-color darkGreen
        border none
        color white
