[class*='__heading']
  color white
  font-family sans
  font-size 4rem
  line-height 1
  padding 5rem 0
  text-align center
  text-shadow -1px 1px 0 black

  +tablet()
    font-size 2.5rem
    padding 2.5rem 0

  +mobile()
    font-size 1.75rem
    padding 1.75 rem 0

[class*='__subheading']
  color white
  font-family sans
  font-size 3rem
  font-weight normal
  text-align center
  text-shadow -1px 1px 0 black

  +tablet()
    font-size 2rem

  +mobile()
    font-size 1.75rem

[class*='__title']
  color white
  font-family sans
  font-size 3rem
  text-align center
  text-shadow -1px 1px 0 black

  +tablet()
    font-size 1.5rem



.cpe__heading,
.cpe__subheading
  color brown
  text-align left
  text-shadow none
  //text-shadow -1px 1px 0 lighten(brown, 80%)

.cpe__heading, h1, h2
  font-size 3rem
  line-height 1
  padding 1.5rem 0 0 0

.cpe__subheading, h3
  font-size 2.5rem
  font-weight 100
  line-height 1
  padding 1rem 0 0 0
