[class*='__heading']
  color white
  font-family sans
  font-size 5rem
  line-height 1
  padding 5rem 0
  text-align center
  text-shadow -1px 1px 0 black

  +tablet()
    font-size 2.5rem
    padding 2.5rem 0

  +mobile()
    font-size 1.75rem
    padding 1.75 rem 0

[class*='__subheading']
  color white
  font-family sans
  font-size 3rem
  font-weight normal
  text-align center
  text-shadow -1px 1px 0 black

  +tablet()
    font-size 2rem

  +mobile()
    font-size 1.75rem

[class*='__title']
  color white
  font-family sans
  font-size 3rem
  text-align center
  text-shadow -1px 1px 0 black

  +tablet()
    font-size 1.5rem
