// RESPONSIVE IMAGES
img, iframe, embed
  max-width 100%
  height auto
  display block

iframe[src^="https://www.google.com/maps"]
  height 500px
  width 100%


.placeholders,
.ph
  width 100vw
  height 100vh
  background-image: \
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='100%' y1='0' x2='0' y2='100%' stroke='{green}' stroke-width='2'/></svg>"),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='0' x2='100%' y2='100%' stroke='{green}' stroke-width='2'/></svg>")


// Wordpress WYSIWYG styles


.alignleft
  float left
  width 50%
  margin 1rem 1rem 1rem 0
  border 10px solid fog

.alignright
  float right
  width 50%
  margin 1rem 0 1rem 1rem
  border 10px solid fog

.alignnone
  border 10px solid fog


.bio-image
  background-repeat no-repeat
  background-size cover
  background-position center center
  border 20px solid fog
  height 550px
  width 100%
