.list
  &__layer
    //background-color red

  &__item
    display flex
    margin-bottom 2rem

  &__content
    padding-top 0
    width 66%

  &__image
    background-color white
    background-size contain
    background-repeat no-repeat
    background-position center
    border 10px solid white
    height 200px
    width 200px

  &__heading
    color brown
    padding 0
    font-size 1.5rem
    text-align left
    text-shadow none
