.manageScroll
  // this wrapper is here to prevent the site from scrolling
  // when the nav overlay is showing
  +below(950px)
    height 100vh
    overflow auto


.page
  &__container
    //
  &__content
    //
    &-padding
      padding 5rem 0 4rem 0

      +below(950px)
        padding 1rem 0 4rem 0
