.believe
  &__layer
    height 100%

  &__container
    flex-direction column
    height 100%

  &__columns
    align-items center
    padding 5rem 0

    +tablet()
      padding 2.5rem 0

  &__heading
    color brown
    flex 1

  &__content
    align-items center
    color brown
    display flex
    flex 1
    padding 1rem

  &__photo
    align-items center
    display flex
    flex-direction column
    padding-bottom 5rem

    +tablet()
      padding-bottom 2.5rem


  &__image
    align-self flex-end
    background-image url(img/groupJump.jpg)
    background-repeat no-repeat
    background-size cover
    display flex
    height 50vh
    margin-bottom 1.5rem
    width 50vw

    +tablet()
      align-self center

  &__cta
    align-self flex-end
    display flex
    width 50vw

    +tablet()
      align-self center

  &__button
    background-color brown
    color white
    // margin-right 8rem
    // margin-top 4rem
    // padding .5rem 5.5rem
