.feature
  &__layer
    // background linear-gradient(-180deg, transparent, featureCover)
    // background-attachment fixed
    background-image url(img/greenHouse.jpg)
    // background-position center center
    background-repeat no-repeat
    background-size cover
    height 100vh
    position relative
    -webkit-transform translate3d(0,0,0)

  &__container
    align-items center
    flex-direction column
    height 100vh
    justify-content flex-start
    text-align center
    display flex
    align-items center


  &__link
    color white
    display flex
    font-family roboto condensed
    font-size 2rem
    text-shadow 1px 1px 0 black

  &__main
    display flex
    flex-direction column
    height 100%
    justify-content center


  &__main svg
    margin 0 auto
    width 120px
    padding-bottom 2.5rem

    path
      fill white

  &__heading
    color white
    font-family cursive
    padding 0

  &__subheading
    color white
    font-weight 400
