.feature
  &__layer
    // background linear-gradient(-180deg, transparent, featureCover)
    background-attachment fixed
    background-image url(img/greenHouse.jpg)
    // background-position center center
    background-repeat no-repeat
    background-size cover
    height 100vh
    position relative

    &:after
      content: ''
      display block
      height 100px
      width 100%
      background-image linear-gradient(hsla(0, 0, 0%, .4), trans)
      position absolute
      top 80px
      left 0

  &__container
    align-items center
    flex-direction column
    height 100vh
    justify-content flex-start
    text-align center

  &__main
    display flex
    flex-direction column
    height 100%
    justify-content center
    padding-bottom 8rem


  &__main svg
    display flex
    margin 0 auto
    width 120px
    padding-bottom 2.5rem

    path
      fill white

  &__title
    color white
    font-family cursive
    font-size 6rem
    text-shadow 1px 1px 0 black

  &__tagline
    color white
    font-family roboto condensed
    font-size 3rem
    text-shadow 1px 1px 0 black
