.grow
  &__layer
    background-color white
    height 100%

  &__container
    align-items center
    flex-direction column
    height 100%
    justify-content space-around

  &__heading
    color brown

    span
      display flex

  &__columns
    padding-bottom 5rem

    +tablet()
      padding-bottom 2.5rem

    +mobile()
      align-items center
      padding-bottom 2rem

    &:nth-of-type(odd)
      .grow__content
        padding-left 2.5rem

    &:nth-of-type(even)
      flex-direction row-reverse

      .grow__content
        padding-right 2.5rem

  &__columns.zipper

    +tablet()
      flex-direction column

    +mobile()
      flex-direction column

  &__pic
      background-position center center
      background-repeat no-repeat
      background-size cover
      border 20px solid green
      flex 1
      height 100%
      padding 6rem 0

      &.setHeight
        height 500px

    +tablet()
      padding 8rem 0

    +mobile()
      padding 4rem 0
      width 65%

  &__subheading
    color white


  &__content
    flex 1
    display flex
    flex-direction column
    justify-content center
    padding 0 2.5rem

    +tablet()
      align-items center

    +mobile()
      align-items center

  &__button
    display inline-block
    background-color green
    border 3px solid green
    color white

    &:hover
      // background-color white
      // box-shadow none
      // border 3px solid green
      // color green
