.grow
  &__layer
    background-color white
    height 100%

  &__container
    align-items center
    display flex
    flex-direction column
    height 100%
    margin 0 auto
    width 70%

  &__heading
    font-family cursive
    font-size 6rem
    text-align center

    span
      display flex

  &__columns zipper
    display flex

  &__pic
    border 15px solid green
    flex 1

  &__content
    flex 1













  //   &:nth-of-type(even)
  //     flex-direction: row-reverse
  //
  // &__pic
  //   flex 1
  //
  //
  //   &:nth-child(1)
  //     background-image url(img/crateVeggies.jpg)
  //     background-repeat no-repeat
  //     background-size cover
  //     border 15px solid green
  //
  //   &:nth-child(2)
  //     background-image url(img/crateVeggies.jpg)
  //     background-repeat no-repeat
  //     background-size cover
  //     border 15px solid green
  //
  //   &:nth-child(3)
  //     background-image url(img/groupLockingArms.jpg)
  //     background-repeat no-repeat
  //     background-size cover
  //     border 15px solid green
  //
  //
  // &__subheading
  //   font-family cursive
  //   font-size 4.5rem
  //   text-align center
  //
  // &__content
  //   flex 1
