.stats
  &__layer
    background-color brown

  &__container
    align-items center
    flex-direction column
    height 100%

  &__heading
    color white

  &__columns
    display flex
    flex-direction column
    padding-bottom 5rem

  &__item
    display flex
    padding 1rem

    +tablet()
      flex-direction column

    +mobile()
      flex-direction column

  &__subheading
    flex 1

  &__content
    align-items center
    color white
    display flex
    flex 1
