.stats
  &__layer
    background-color brown

  &__container
    align-items center
    flex-direction column
    height 100%

  &__heading
    color white
    font-family cursive
    font-size 5rem
    padding 5rem
    text-align center

  &__columns
    flex-direction column
    padding-bottom 5rem

  &__item
    display flex
    padding 1rem


  &__subheading
    color white
    font-family cursive
    font-size 4.5rem
    flex 1
    text-align center

  &__content
    align-items center
    color white
    display flex
    flex 1
    padding-left 1rem
