.support
  &__layer
    background-image url(img/girlAndGreens.jpg)
    // background-position center center
    background-repeat no-repeat
    background-size cover
    height 145vh

    +tablet()
      height 100vh

    +mobile()
      height 100vh

  &__container
    align-items center

    flex-direction column
    height 100%
    justify-content space-around

  &__slogan
    display flex
    flex-direction column


  &__slogan svg
    display flex
    margin 0 auto
    width 150px

    path
      fill white

  &__heading
    padding-top 0

    span
      display flex

  &__subheading
    color white
    font-family cursive
    font-size 6rem
    padding-bottom 3rem
    text-align center
    text-shadow 1px 1px 0 black

  &__options
    display flex
    justify-content space-around

  &__button
    background-color green
    color white
    font-size 2rem
