.support
  &__layer
    background-image url(img/girlAndGreens.jpg)
    // background-position center center
    background-repeat no-repeat
    background-size cover
    height 145vh

  &__container
    align-items center

    flex-direction column
    height 100%
    justify-content space-around

    // display flex
    // flex-direction column
    // height 100%
    // justify-content space-around
    // margin 0 auto
    // width 70%


  &__slogan
    display flex
    flex-direction column


  &__slogan svg
    display flex
    margin 0 auto
    width 150px

    path
      fill white

  &__heading
    //

    span
      display flex

  &__options
    display flex
    justify-content space-around

  &__button
    background-color green

    color white

    border 1px solid green
    border-radius 5px
    color white
    font-family roboto condensed

    padding 1rem 3rem
