.nav
  &__layer
    //
  &__container
    justify-content space-around
    padding-top 1rem

    li
      list-style none

    a
      color white
      display flex
      font-size 1.5rem
      text-shadow 1px 1px 0 black

  +tablet()
    background-color yellow

  +mobile()
    background-color orange
